:root {
  --IRIS: #4d5ae5;
  --NAVYBLUE: #2e2f42;
  --OCEAN: #404bbf;
  --SLATE: #434455;
}

/* Global styles */

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Start of Header */

header {
  display: flex;
  justify-content: space-between;
  height: 72px;
  background-color: lightpink;
  margin-bottom: 0;
  align-items: center;
}

.main {
  display: flex;
  margin-left: 156px;
}

.main-navigation {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  display: flex;
}

.main-contacts {
  display: flex;
  margin-right: 136px;
}

.logo {
  text-decoration: none;
  color: var(--NAVYBLUE);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  margin-bottom: 0px;
  line-height: 21px;
  letter-spacing: 0.54px;
  display: flex;
  background-color: lightgreen;
  margin-right: 56px;
}
.logo span {
  color: var(--IRIS);
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: var(--OCEAN);
}

.main-contacts a:hover,
.main-contacts a:focus {
  color: var(--OCEAN);
}

.main-navigation > li > a {
  color: var(--NAVYBLUE);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 20px;
}

.main-navigation:active {
  color: var(--OCEAN);
}

.main-contacts > li > a {
  color: var(--SLATE);
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-right: 20px;
}

/* END OF HEADER */

/* START OF BIG HEADING */

.title {
  background-color: var(--NAVYBLUE);
  margin-top: 0;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-text {
  display: flex;
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-align: center;
  margin: 0 0 48px 0;
}

.btn:hover,
.btn:focus {
  background-color: var(--OCEAN);
}

.btn {
  color: white;
  background-color: var(--IRIS);
  font-family: inherit;
  font-weight: 500;
  border-width: 0;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  font-size: 16px;
}

/* END OF BIG HEADING */

/* START OF SOLUTIONS SECTION */

.solutions {
  display: flex;
  background-color: lightseagreen;
  justify-content: center;
  margin-top: 120px;
  height: 104px;
}

.solutions h3 {
  color: var(--NAVYBLUE);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.solutions-main {
  margin-top: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.solutions h3 {
  margin: 0;
}

h3 {
  background-color: lightgray;
}

.solutions-sub {
  display: flex;
  width: 264px;
  height: 104px;
  flex-direction: column;

  gap: 8px;
  box-sizing: border-box;
}

.solutions p {
  color: var(--SLATE);
  line-height: 24px;
  letter-spacing: 0.32px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  background-color: lightsalmon;
  margin: 0;
}

/* END OF SOLUTIONS SECTION */

/*
        WHAT ARE WE DOING
      */

.services h2,
.team h2 {
  text-align: center;
  color: var(--NAVYBLUE);
  font-weight: 700;
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0.72px;
  background-color: lightseagreen;
  margin-top: 120px;
}

.team h3 {
  color: var(--NAVYBLUE);
  font-weight: 500;
  font-size: 20px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.team p {
  color: var(--SLATE);
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.32px;
}

footer,
footer a {
  background-color: var(--NAVYBLUE);
  color: white;
}

footer span {
  color: var(--IRIS);
  font-family: Raleway;
  font-weight: 800;
}

footer a {
  font-weight: 800;
}
